/*---------------
MOBILE FIRST
----------------*/

html {
    background-color: white;
}

body {
    background-color: #ede6e6;
    margin: 0 auto;
    width: 100%;
    font-family: arial, helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: #373535;
}

    
/* HEADER */
header{
    height: 150px;
    padding-top: 20px
}

ul {
    padding: 0;
}

li { 
    display: inline;
    font-size: 14px;
    padding: 5px;
    
}

header li {
    border-right: 1px solid #373535;
    font-size: 2.8vw;
}

header li:last-child {
    border-right: none;
}

.left {
    width: 50%;
    float: left;
    
}

.left ul {
    float: left;
    padding-left: 2%;
    padding-top: 135px;
}
.right {
    width: 50%;
    float: right;
}
.right ul {
    float:right;
    padding-right: 2%;
    padding-top: 135px;
}

#logo {
    position: absolute;
    width: 100%;
    text-align: center;
    color: #b46363;
    font-size: 36px;
    
}

#logo p {
    margin: 0 ;
    
}

#main {
    background-image: url('images/dishes.jpg');
    height: 200px;
    margin-top: 40px;
}

#main p {
    margin: 0;
    padding-top: 20px;
    color: #b46363;
    text-align: center;
    font-size: 30px;
}

form {
    padding-top: 30px;
    text-align: center;
}

#email {
    width: 220px;
    height: 25px;
    border-radius: 5px;
    padding: 0;
    margin-right: 10px;
}

#click {
    height: 25px;
    border-radius: 5px;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

.box {
    position: relative;
    text-align: center;
    margin: 15px 0;
}

.box img {
    position: relative;
    z-index: 1;
    margin-left: 15px;
}

.box p {
    position: absolute;
    width: 100%;
    top:12px;
    z-index: 2;
    text-align: center;
    font-size: 24px;
    margin-left: 15px;
}

.middle p {
    color: white;
}

/* FOOTER */
nav {
    font-size: 16px;
    text-align: center;
}

footer {
    background-color: #e5e0e0;
    height: 140px;
    padding-top: 20px;
}

footer li {
    border-right: 1px solid #373535;
}

footer li:last-child {
    border-right: none;
}

footer img{
    display: block;
    margin: 0 auto;
}

/*---------------
DEVICES > 600px
----------------*/
@media screen and (min-width: 600px) {
    
    body {
        width: 100%;
    }
    
    header li {
        font-size: 16px;
    }


}

/*---------------
DEVICES > 960px
----------------*/
@media screen and (min-width: 960px) {
    
    

    body {
        width: 960px;
    }
    
    #main {
        margin-top: 10px;
    }
    li { 
        padding: 10px;
        font-size: 16px;

    }

    header li:first-child {
        border-right: 1px solid #373535;
    }
    
    header li {
        font-size: 16px;
    }

    .left {
        width: 320px;
    }

    .left ul {
        padding-left: 30px;
        padding-top: 90px;
    }
    .right {
        width: 320px;
    }
    .right ul {
        float:right;
        padding-right: 30px;
        padding-top: 90px;
    }

    #logo {
        position: static;
        width: 320px;
        float: left;
        text-align: center;
        font-size: 36px;
    }


    #main {
        height: 438px;
    }

    #main p {
        margin: 0;
        padding-top: 20px;
        color: #b46363;
        text-align: center;
        font-size: 30px;
    }
    

   .box {
        position: relative;
        float: left;
        margin: 15px 0;
    }

    .box img {
        position: relative;
        z-index: 1;
        margin-left: 15px;
    }
    
    
}